################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microsoft.Demos.Alexa.Luis/bin
/Microsoft.Demos.Alexa.Luis/obj
